p{
    font-size: 40px;
}

*{
    color: red;
    font-weight: 900;
}

.font{
    font-size: 40px;
}

#hello{
    background-color: blue;
}

.d, .i{
    font-size: 50;
    background-color: chartreuse;
}

